ul.types{
    display: flex;
    list-style: none;
    position: absolute;
    top: 4px;
    right:4px;
}

.pokemon-card{
    overflow: hidden;
    position: relative;
    width: 20%;
    min-width: 200px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid  rgb(225, 224, 226);
    background-color: rgb(252, 248, 255);

    img.pokeball-bg {
        position:absolute;
        z-index: 0;
        width: 200px;
        height: 200px;

        opacity: 0.08;

        bottom: -50px;
        left: -50px;
    }

    img.pokemon-img {
        width:100%;
        max-width: 120px;
        max-height: 120px;
        transition: all 100ms ease-in;
        z-index: 0;
    }

    &:hover {
        border: 1px solid  rgb(163, 121, 206);
        background-color: rgb(237, 229, 243);
        cursor: pointer;

        img.pokemon-img {
            transform: scale(1.2);
        }
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        width: 100%;
        margin-top: 20px;
        z-index: 1;
        
        .name {
            font: 18px 'Segoe UI', sans-serif;
            text-transform: capitalize;
            font-weight: bold; 
            color: rgb(68, 63, 80);
        }

        .footer {
            display: flex;
            margin-top: 5px;
            span {
                font: 12px 'Segoe UI', sans-serif;
                text-transform: capitalize;
                color: rgb(239, 237, 245);
                background-color: rgb(80, 87, 83);
                padding: 2px 4px;
                border-radius: 8px;
                & + span {
                    margin-left:4px;   
                }
            }
        }
    }
}

